:root {
    --font-family: Arial, Helvetica, sans-serif;
  
    --board-columns: 10;
    --board-rows: 10;
    --board-width: 240px;
    --board-height: auto;
  
    --altura-navbar: 1.5em;
    --altura-letra-navbar: 2.5rem;

    --color-background-hover-navbar: rgb(0, 101, 253);
    --color-letra-hover-navbar: lightblue;
    --color-letra-navbar: lightgray;
    --color-backgroud-general: #333333;

    --anchura-border-navbar: 0.2rem;
    --estilo-border-navbar: solid;
    --color-border-navbar: #888888;
  }


*{
    margin: 0%;
    padding: 0%; 
}

body{
    overflow-x: hidden;
    background-color: var(--color-backgroud-general);
}

header{
    width: 100%;
    display:flex ;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

header h1{
    display: inline;
    float:left;
    height: var(--altura-navbar);
    width: 40%;
    vertical-align: bottom;
    line-height: var(--altura-letra-navbar);
    background-color: var(--color-backgroud-general);
    color: var(--color-letra-navbar);
    border-bottom: var(--anchura-border-navbar) var(--estilo-border-navbar) var(--color-border-navbar);
} 

nav.navbar{
    width: 60%;
}

header ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
}

header li{
    text-decoration: none;
    list-style-type: none;
    font-size: 2rem;
    border-bottom: var(--anchura-border-navbar) var(--estilo-border-navbar) var(--color-border-navbar);
    padding: 0px;
    margin: 0px;
    width: 33.33%;
    height: var(--altura-navbar);
    background-color: var(--color-backgroud-general);
    color: var(--color-letra-navbar);
    text-align: center;
    line-height: var(--altura-letra-navbar);
}

header a{
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    display: block;
}

header h1 img {
    height: 100%;
    float: left;
    text-align: center;
}

header a:hover {
    background-color: var(--color-background-hover-navbar);
    color: var(--color-letra-hover-navbar);
}

header h1:hover  {
    background-color: var(--color-background-hover-navbar);
    color: var(--color-letra-hover-navbar);
}

/* main *{
    background-color: #353434;
} */
